h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}


.page-section {
    padding: 6rem 0;
}

.page-section .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
}

@media (min-width: 992px) {
    .page-section .page-section-heading {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
    color: #1abc9c !important;
    font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
    color: #fff !important;
}

.btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
}

.btn-social {
    border-radius: 50%;
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.scroll-to-top {
    z-index: 1042;
    right: 1rem;
    bottom: 1rem;
    display: none;
}

.scroll-to-top a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(33, 37, 41, 0.5);
    line-height: 3.1rem;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}

#mainNav .navbar-brand {
    color: #da7742;
    font-family: arial !important;
    text-transform: none !important;
}

#mainNav .navbar-nav {
    margin-top: 1rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #da7742;
    font-size: 1.5em;
    font-family: arial !important;
    text-transform: none !important;
    font-weight: 600 !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: rgb(0, 0, 0)
}

#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #000000;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #000000;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        transition: padding-top 0.3s, padding-bottom 0.3s;
    }
    #mainNav .navbar-brand {
        font-size: 2em;
        transition: font-size 0.3s;
    }
    #mainNav .navbar-nav {
        margin-top: 0;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
        color: #fff;
        background: #f0e7db;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
        color: #fff;
        background: #f0e7db;
    }
    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}

.masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
}

.masthead .masthead-subheading {
    font-size: 1.25rem;
}

.masthead .masthead-avatar,
.masthead .masthead-logo {
    width: 100%;
    max-width: 1000px;  /* Or whatever looks best */
    height: auto;
}

@media (min-width: 992px) {
    .masthead {
        padding-top: calc(6rem + 104px);
        padding-bottom: 6rem;
    }
    .masthead .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }
    .masthead .masthead-subheading {
        font-size: 1.5rem;
    }
}

.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
}

.portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
}

@media (min-width: 992px) {
    .portfolio-modal .portfolio-modal-title {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}

.portfolio-modal .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: #1abc9c;
    opacity: 1;
}

.floating-label-form-group {
    position: relative;
    border-bottom: 1px solid #e9ecef;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
}

.floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #1abc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #e9ecef;
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #f9e7d9;
    color: #fff;
}

.copyright {
    background-color: rgba(240, 231, 219, 0.5);
}

a.footerlink {
    color: #f2ede0;
}

.btn-primary {
    background-color: #f5eee6;
    border-color: #f5eee6;
}

.btn-primary:hover {
    border-color: #ffffff;
}

.btn-primary:focus,
.btn-primary.focus {
    border-color: #ffffff;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #f5eee6;
    border-color: #f5eee6;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    background-color: #f5eee6;
}

.btn-secondary {
    background-color: #31ca97;
    border-color: #31ca97;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    background-color: #31ca97;
    border-color: #31ca97;
}

.btn-info {
    background-color: #128193;
    border-color: #128193;
}

.btn-info:hover {
    background-color: #0f6978;
    border-color: #0d616f;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
    background-color: #0d616f;
    border-color: #0c5965;
}

.btn-success {
    background-color: #186429;
    border-color: #165c26;
}

.btn-success:hover {
    background-color: #1a6c2c;
    border-color: #186429;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #186429;
    border-color: #165c26;
}

.btn-outline-primary {
    color: #f5eee6;
    border-color: #f5eee6;
}

.btn-outline-primary:hover {
    background-color: #f5eee6;
    border-color: #f5eee6;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #f5eee6;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    background-color: #f5eee6;
    border-color: #f5eee6;
}

.btn-outline-secondary,
.btn-outline-secondary:hover {
    color: #1e4151;
    border-color: #1e4151;
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    color: #1e4151;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show>.btn-outline-secondary.dropdown-toggle {
    background-color: #1e4151;
    border-color: #1e4151;
}

.btn-link {
    color: #ffffff;
}

.btn-lg,
.btn-group-lg>.btn {
    border-radius: 0.5rem;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #f5eee6;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #f2ede0;
    background-color: #f2ede0;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
    border-color: #f2ede0;
    background-color: #f2ede0;
}

.custom-range::-webkit-slider-thumb,
.custom-range::-moz-range-thumb,
.custom-range::-ms-thumb {
    background-color: #f2ede0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #f2ede0;
}

.navbar-brand img {
    max-width: 47px;
}

.page-link {
    color: #f2ede0;
}

.page-item.active .page-link {
    background-color: #f2ede0;
    border-color: #f2ede0;
}

.badge-primary,
a.badge-primary:hover,
a.badge-primary:focus {
    background-color: #f2ede0;
}

.badge-secondary {
    background-color: #1e4151;
}

.progress-bar {
    background-color: #f2ede0;
}

.list-group-item.active {
    background-color: #f2ede0;
    border-color: #f2ede0;
}

.bg-primary {
    background-color: #f5eee6 !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #f5eee6 !important;
}

.bg-secondary {
    background-color: #31ca97 !important;
}

.border-primary {
    border-color: #ffffff !important;
}

.border-secondary {
    border-color: #1e4151 !important;
}

.pt-3,
.py-3 {
    padding-top: .5rem !important;
}

.pb-3,
.py-3 {
    padding-bottom: .5rem !important;
}

.text-primary {
    color: #da7742 !important;
}

.text-secondary {
    color: #1e4151 !important;
}

.page-section .page-section-heading {
    font-size: 1.25rem;
    line-height: 1rem;
}

.divider-custom .divider-custom-line {
    background-color: #1abc9c;
    border-color: #1abc9c !important;
}

.divider-custom .divider-custom-icon {
    color: #1abc9c !important;
}

#mainNav {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover,
#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus,
#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #9b6549;
}

.masthead {
    padding-top: calc(1rem + 74px);
    padding-bottom: 4rem;
}

.portfolio-modal .close {
    color: #f2ede0;
}

.floating-label-form-group-with-focus label {
    color: #f2ede0;
}

.footer {
    background-color: #31ca97;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#priceHolder {
    display: inline-block;
    line-height: 1.4rem;
}

.curPrice_USD {
    display: block;
}

#curPrice_DOGE {
    vertical-align: top;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
        color: #f0e7db;
        background: #ffffff;
    }
    #mainNav.navbar-shrink {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
    .masthead {
        padding-top: calc(1rem + 104px);
        padding-bottom: 4rem;
    }
    .page-section .page-section-heading {
        font-size: 2rem;
        line-height: 1.5rem;
    }
    .pr-lg-3,
    .px-lg-3 {
        padding-right: .5rem !important;
    }
    .pl-lg-3,
    .px-lg-3 {
        padding-left: .5rem !important;
    }
}

::selection {
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

img {
    user-drag: none !important;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    -webkit-touch-callout: none !important;
    -khtml-user-select: none !important;
}

.support-content {
    min-height: 300px;
    max-width: 500px;
    border: 1px solid #4a6c7d;
    margin: 0px auto;
    padding: 20px;
    border-radius: .5rem;
}

.support-content .fa {
    font-size: 2rem;
}

.support-content .heading {
    font-size: 1.2rem;
}

@font-face {
    font-family: Arial;
    src: url("/assets/fonts/Arial.ttf") format("truetype");
}

.main-header {
    font-family: Arial;
    margin-top: 0em;
    color: #da7742 !important;
    font-size: 4rem;
    margin-bottom: 0.5rem;
    /* 14px */
}

.sub-header {
    font-family: Arial;
    color: #000000 !important;
    font-size: 1.5em;
}

.sub-header2 {
    font-family: Arial;
    color: #000000 !important;
    font-size: 1.5em;
    margin-bottom: 1.0rem;
}

.center {
    margin: 0px auto;
}

.instructions-text {
    font-family: Arial;
    color: #1e4151 !important;
    font-size: 1.4em;
}

#about,
#particles {
    background-color: #efe5da !important;
}

.w3-container,
.w3-panel {
    color: black !important;
    padding-top: 0.01em !important;
    padding-right: 16px !important;
    padding-bottom: 0.01em !important;
    padding-left: 16px !important;
}

.connect-button {
    background-color: rgba(0, 0, 0, 0);
    color: #31ca97;
    font-size: 1.3em;
    font-family: Arial !important;
    text-transform: none !important;
    text-align: center !important;
    padding: 0.3em;
    border: 2px solid #31ca97;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

.connect-button:hover {
    background-color: rgba(29, 191, 167, 0.2);
    color: #31ca97;
    border: 2px solid rgba(29, 191, 167, 0.2);
}

.twitter-tweet {
    max-width: 100% !important;
    min-width: 0 !important;
    overflow-x: hidden !important;
}

.img-holder {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.twitter-tweet iframe {
    max-width: 100% !important;
}